h1 {
	margin: auto;
	padding: 20px;
}

#text {
    color: red;
}

#backtotop {
    position: fixed;
    bottom: 15px;
    right: 32px;
    color: #2761ba;
    text-decoration: none;
    cursor: pointer;
    isolation: isolate;
    z-index: 500;
}

a#backtotop.notVisible {
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}

a#backtotop.Visible {
    bottom: 20px;
    opacity: 1;
    transition: all ease-in 0.25s;
}

@media screen and (max-width: 850px) {
    a#backtotop.Visible {
        display: none;
        transition: all ease-in 0.25s;
    }
}